@import url(http://fonts.googleapis.com/css?family=Aldrich);
@import url(http://fonts.googleapis.com/css?family=Finger+Paint);

html, body {
    /* The universe takes up all available space */
    width: 100%;
    height: 100%;
    
    /* The universe is black */
    background-color:black;
}

#instruct
{
    color:white;
    font-family:"Finger Paint";
    float:right;
    margin-right:3%;
    margin-top:-3px;
}

#HUD
{
    float:left;
    width:400px;
    height:100%;
    border-right:solid grey 5px;
}


#control
{
    float:left;
    padding:5px 5px 5px 5px;
    margin-left:5%;
    margin-top:2px;
    background-color:#ccc;
    border-radius:18px;
    font-family:"Finger Paint";
}

span:hover
{
    cursor:pointer;
}

#sun {
    position: absolute;
    /* Positions the top-left corner of the image to be *
    /* in the middle of the box */
    z-index:20;
    
    background-color:orange;
    top: 50%;
    left: 65%;
    
    /* Play with these numbers to see what it does */
    height: 100px;
    width: 100px;
    margin-top: -100px; 
    margin-left: -100px;
    
    border-color: orange;
    border-width: 2px;
    border-style: solid;
    border-radius:50%;
    
    box-shadow: 0 0 1000px yellow;
}

#mercury
{
    position: absolute;
    z-index:19;
    top: -3px;
    left: 50%;
    
    height: 10px;
    width: 10px;
    margin-left: -25px;
    margin-right: -25px;
    
    border-radius:50%;
    
    box-shadow: 0 0 8px white;
}

#venus
{
    position: absolute;
    z-index:18;
    top: -8.5px;
    left: 50%;
    
    height: 17px;
    width: 17px;
    margin-left: -25px;
    margin-right: -25px;
    
    border-radius:50%;
    
    box-shadow: 0 0 8px white;
}

#earth 
{
    /* Style your earth */
    position: absolute;
    z-index:17;
    background-color:blue;
    top: -10px;
    left: 50%;
    
    height: 20px;
    width: 20px;
    margin-left: -25px;
    margin-right: -25px;
    
    border-color: blue;
    border-width: 2px;
    border-style: solid;
    border-radius:50%;
    
    box-shadow: 0 0 50px white;
}

#moon
{
    
    background-color:#ccc;
    z-index:16;
    position:absolute;
    top:-2px;
    left: 50%;
    width:3px;
    height:3px;
    border-radius:50%;
    border:solid white 1px;
    
    box-shadow: 0 0 30px white;
}

#mars
{
    z-index:15;
    position:absolute;
    top:-10px;
    left: 50%;
    width:20px;
    height:20px;
    border-radius:50%;
    
    box-shadow: 0 0 30px white;
}

#jupiter
{
    z-index:14;
    position:absolute;
    top:-25px;
    left: 50%;
    width:70px;
    height:70px;
    border-radius:50%;
    
    box-shadow: 0 0 30px white;
}

#saturn
{
    z-index:13;
    position:absolute;
    top:-40px;
    left: 50%;
    width:60px;
    height:60px;
/*    border-radius:50%;*/
}

#mercury-orbit {
    /* For Section #2 */
    position: absolute;
    z-index:18;
    top: 50%;
    left: 65%;

    width: 150px;
    height:150px;
    margin-top: -130px;
    margin-left: -125px;

/*    border:dotted white 1px;*/
    border-radius: 50%;
    
    -webkit-animation: spin-right 8s linear infinite;
     -moz-animation: spin-right 8s linear infinite;
      -ms-animation: spin-right 8s linear infinite;
       -o-animation: spin-right 8s linear infinite;
          animation: spin-right 8s linear infinite;
    
    -webkit-animation-delay:-6s;
    -moz-animation-delay:-6s;
    -ms-animation-delay:-6s;
    -o-animation-delay:-6s;
    animation-delay:-6s;
}

#venus-orbit {
    /* For Section #2 */
    position: absolute;
    z-index:17;
    top: 50%;
    left: 65%;

    width: 187px;
    height:187px;
    margin-top: -145px;
    margin-left: -140px;

/*    border:dotted white 1px;*/
    border-radius: 50%;
    
    -webkit-animation: spin-right 13s linear infinite;
     -moz-animation: spin-right 13s linear infinite;
      -ms-animation: spin-right 13s linear infinite;
       -o-animation: spin-right 13s linear infinite;
          animation: spin-right 13s linear infinite;
}

#earth-orbit {
    /* For Section #2 */
    position: absolute;
    z-index:16;
    top: 55%;
    left: 65%;

    width: 300px;
    height:300px;
    margin-top: -240px;
    margin-left: -210px;

/*    border:dotted white 1px;*/
    border-radius: 50%;
        
    -webkit-animation: spin-right 20s linear infinite;
     -moz-animation: spin-right 20s linear infinite;
      -ms-animation: spin-right 20s linear infinite;
       -o-animation: spin-right 20s linear infinite;
          animation: spin-right 20s linear infinite;
    
    -webkit-animation-delay:-9s;
    -moz-animation-delay:-9s;
    -ms-animation-delay:-9s;
    -o-animation-delay:-9s;
    animation-delay:-9s;
}

#moon-orbit
{
    position: absolute;
    z-index:15;
    top: 0%;
    left: 63%;

    width: 33px;
    height: 33px;
    margin-top: -15px;
    margin-left: -70px;

/*    border:dotted white 1px;*/
    border-radius: 50%;
    
    -webkit-animation: spin-right 3s linear infinite;
     -moz-animation: spin-right 3s linear infinite;
      -ms-animation: spin-right 3s linear infinite;
       -o-animation: spin-right 3s linear infinite;
          animation: spin-right 3s linear infinite;
}

#mars-orbit
{
    /* For Section #2 */
    position: absolute;
    z-index:14;
    top: 55%;
    left: 65%;

    width: 375px;
    height:375px;
    margin-top: -270px;
    margin-left: -240px;

/*    border:dotted white 1px;*/
    border-radius: 50%;
        

    
    -webkit-animation: spin-right 25s linear infinite;
     -moz-animation: spin-right 25s linear infinite;
      -ms-animation: spin-right 25s linear infinite;
       -o-animation: spin-right 25s linear infinite;
          animation: spin-right 25s linear infinite;
    
        -webkit-animation-delay:-15s;
    -moz-animation-delay:-15s;
    -ms-animation-delay:-15s;
    -o-animation-delay:-15s;
    animation-delay:-15s;
}

#jupiter-orbit
{
    /* For Section #2 */
    position: absolute;
    z-index:13;
    top: 55%;
    left: 65%;

    width: 550px;
    height:550px;
    margin-top: -350px;
    margin-left: -280px;

/*    border:dotted white 1px;*/
    border-radius: 50%;


    
    -webkit-animation: spin-right 30s linear infinite;
     -moz-animation: spin-right 30s linear infinite;
      -ms-animation: spin-right 30s linear infinite;
       -o-animation: spin-right 30s linear infinite;
          animation: spin-right 30s linear infinite;
    
    -webkit-animation-delay:-25s;
    -moz-animation-delay:-25s;
    -ms-animation-delay:-25s;
    -o-animation-delay:-25s;
    animation-delay:-25s;
}

#saturn-orbit
{
    /* For Section #2 */
    position: absolute;
    z-index:12;
    top: 55%;
    left: 65%;

    width: 660px;
    height:660px;
    margin-top: -380px;
    margin-left: -330px;

/*    border:dotted white 1px;*/
    border-radius: 50%;


    
    -webkit-animation: spin-right 40s linear infinite;
     -moz-animation: spin-right 40s linear infinite;
      -ms-animation: spin-right 40s linear infinite;
       -o-animation: spin-right 40s linear infinite;
          animation: spin-right 40s linear infinite;
    
        -webkit-animation-delay:-20s;
    -moz-animation-delay:-20s;
    -ms-animation-delay:-20s;
    -o-animation-delay:-20s;
    animation-delay:-20s;
}

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}